# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [3]:
chipotle = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", header=0, sep="\t" ,index_col="order_id")
chipotle

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [5]:
chipotle.loc[:,"item_price"].unique()

array(['$2.39 ', '$3.39 ', '$16.98 ', '$10.98 ', '$1.69 ', '$11.75 ',
       '$9.25 ', '$4.45 ', '$8.75 ', '$11.25 ', '$8.49 ', '$2.18 ',
       '$8.99 ', '$1.09 ', '$2.95 ', '$2.15 ', '$3.99 ', '$22.50 ',
       '$11.48 ', '$17.98 ', '$17.50 ', '$4.30 ', '$5.90 ', '$1.25 ',
       '$23.78 ', '$6.49 ', '$11.08 ', '$1.50 ', '$22.16 ', '$32.94 ',
       '$22.20 ', '$10.58 ', '$2.50 ', '$23.50 ', '$7.40 ', '$18.50 ',
       '$3.00 ', '$6.78 ', '$11.89 ', '$9.39 ', '$4.00 ', '$3.75 ',
       '$8.69 ', '$2.29 ', '$8.90 ', '$3.27 ', '$3.89 ', '$8.19 ',
       '$35.00 ', '$27.75 ', '$11.80 ', '$6.00 ', '$26.25 ', '$21.96 ',
       '$4.36 ', '$7.50 ', '$4.78 ', '$13.35 ', '$6.45 ', '$5.07 ',
       '$22.96 ', '$7.17 ', '$7.98 ', '$4.50 ', '$26.07 ', '$12.98 ',
       '$35.25 ', '$44.25 ', '$10.50 ', '$33.75 ', '$16.38 ', '$13.52 ',
       '$5.00 ', '$15.00 ', '$8.50 ', '$17.80 ', '$1.99 ', '$11.49 '],
      dtype=object)

In [4]:
chipotle["item_price"] = chipotle["item_price"].str[1:].astype(float)

In [7]:
chipotle.loc[:,"item_price"].max()

44.25

In [8]:
chipotle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4622 entries, 1 to 1834
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   quantity            4622 non-null   int64
 1   item_name           4622 non-null   object
 2   choice_description  3376 non-null   object
 3   item_price          4622 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 180.5+ KB

### Step 4. How many products cost more than $10.00?

In [9]:
mascara = chipotle["item_price"] >= 10
len(chipotle[mascara]["item_name"].unique())

31

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [23]:
mascara = chipotle["item_price"] >= 10
len(chipotle[mascara]["order_id"].unique())

KeyError: 0

### Step 5. What is the price of each item? Get only item_name and unit_price

In [10]:
# Crea una nueva columna llamada unit_price
chipotle["unit_price"] = chipotle["item_price"]/chipotle["quantity"]
chipotle

,quantity,item_name,choice_description,item_price,unit_price
order_id,,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,Izze,[Clementine],3.39,3.39
1,1,Nantucket Nectar,[Apple],3.39,3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [11]:
chipotle[["item_name","unit_price"]]

                                      item_name  unit_price
order_id
1                  Chips and Fresh Tomato Salsa        2.39
1                                          Izze        3.39
1                              Nantucket Nectar        3.39
1         Chips and Tomatillo-Green Chili Salsa        2.39
2                                  Chicken Bowl        8.49
...                                         ...         ...
1833                              Steak Burrito       11.75
1833                              Steak Burrito       11.75
1834                         Chicken Salad Bowl       11.25
1834                         Chicken Salad Bowl        8.75
1834                         Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [12]:
chipotle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4622 entries, 1 to 1834
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   quantity            4622 non-null   int64
 1   item_name           4622 non-null   object
 2   choice_description  3376 non-null   object
 3   item_price          4622 non-null   float64
 4   unit_price          4622 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 216.7+ KB

### Step 6. Sort by the name of the item

In [13]:
chipotle["item_name"].sort_values()

order_id
1360    6 Pack Soft Drink
148     6 Pack Soft Drink
749     6 Pack Soft Drink
754     6 Pack Soft Drink
1076    6 Pack Soft Drink
              ...
948     Veggie Soft Tacos
322     Veggie Soft Tacos
1132    Veggie Soft Tacos
688     Veggie Soft Tacos
567     Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [21]:
chipotle.loc[:,"item_price"].max()

44.25

In [20]:
chipotle["quantity"].value_counts()

quantity
1     4355
2      224
3       28
4       10
5        1
15       1
7        1
8        1
10       1
Name: count, dtype: int64

In [ ]:
15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [10]:
mascara = chipotle["item_name"].isin(["Veggie Salad Bowl"])

len(chipotle[mascara])

18

In [19]:
chipotle["item_name"].value_counts().loc["Veggie Salad Bowl"]

18

### Step 9. How many times did someone order more than one Canned Soda?

Extra

In [ ]:
# 1º Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
# 2º Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3º Quiero sumar solo la columna de quantity [['quantity']].sum()